@import url(http://fonts.googleapis.com/css?family=VT323);

* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	overflow: hidden;
}

.container {
	margin:0px auto;
	padding-top:200px;
	width:800px;
}

.bottom-menu {
	position:absolute;
	bottom:30px;
	left:10px;
}

.graphics {
	background-color: black;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: 50% 50%;
}

.doge-section {
	display: none;
	color:white;
	font-size:30px;
}

#doge-wow {
	position:absolute;
	right:200px;
	top:250px;
	transform:rotate(50deg);
}

#doge-very {
	position:absolute;
	right:380px;
	top:150px;
	transform:rotate(-10deg);
}

#doge-much {
	position:absolute;
	right:110px;
	top:350px;
	transform:rotate(-10deg);
}

#doge-such {
	position:absolute;
	right:300px;
	top:60px;
	transform:rotate(-20deg);
}

#doge-question {
	position:absolute;
	right:500px;
	top:20px;
	transform:rotate(-15deg);
}

#doge-ma {
	position:absolute;
	right:10px;
	top:40px;
	width:200px;
	height:200px;
	background-image: url('../images/lavoie.png');
	background-repeat: no-repeat;
}

#player-frame {
	position:absolute;
	right:0px;
	top:0px;
	width:220px;
	height:250px;
	opacity: 0.6;
	background-size: cover;
	z-index:2;
	background-image: url('../images/gui/panel-3.png');
}

#doge-face {
	position:absolute;
	right:30px;
	top:45px;
	width:160px;
	height:160px;
	background-image: url('../images/doge.png');
}

#physics1 {
	opacity: 0.1;
}

#graphics {
	display:none;
}

#physics2 {
	display:none;
}

#troll {
	display:none;
	position: absolute;
	right:20px;
	top:20px;
	width:160px;
	height:145px;
	background-image: url('../images/troll.png');
}

#menu {
	font-family: 'VT323';
	display: none;
	background-image: url('../images/gui/panel-1.png');
	width:425px;
	height:235px;
	margin: 0 auto;
	padding:100px;
	color:white;
	text-shadow:0 0 5px black;
}

#menu h1{	
	font-size:50px;
}

#menu p{	
	font-size:20px;
	width:0;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
}

.glow {
	opacity:0;
	text-shadow: 0 0 15px #6cbdd0;
}

.option {
	display: none;
	margin-top:30px;
	font-size:40px;
}

.blink {

}